
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 0 0% 100%;
    --foreground-hsl: 240 10% 3.9%;
    --primary-hsl: 271 76% 53%;
    --accent-hsl: 240 4.8% 95.9%;
    
    --background: hsl(var(--background-hsl));
    --foreground: hsl(var(--foreground-hsl));
    
    --card: hsl(var(--background-hsl));
    --card-foreground: hsl(var(--foreground-hsl));

    --popover: hsl(var(--background-hsl));
    --popover-foreground: hsl(var(--foreground-hsl));

    --primary: hsl(var(--primary-hsl));
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: hsl(var(--accent-hsl));
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: hsl(var(--primary-hsl));

    --radius: 0.5rem;
  }
 
  .dark {
    --background-hsl: 240 10% 3.9%;
    --foreground-hsl: 0 0% 98%;
    --primary-hsl: 271 76% 53%;
    --accent-hsl: 240 3.7% 15.9%;
    
    --background: hsl(var(--background-hsl));
    --foreground: hsl(var(--foreground-hsl));

    --card: hsl(var(--background-hsl));
    --card-foreground: hsl(var(--foreground-hsl));

    --popover: hsl(var(--background-hsl));
    --popover-foreground: hsl(var(--foreground-hsl));

    --primary: hsl(var(--primary-hsl));
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: hsl(var(--accent-hsl));
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: hsl(var(--primary-hsl));
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }

  .bg-primary-gradient {
    @apply bg-gradient-to-r from-blue-500 to-purple-600;
  }

  .bg-secondary-gradient {
     @apply bg-gradient-to-r from-purple-600 to-indigo-700;
  }
  
  .text-primary {
    @apply text-purple-400;
  }

  .ring-primary {
    --tw-ring-color: hsl(var(--primary));
  }
}

.hide-cursor, .hide-cursor * {
  cursor: none;
}

.target-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #BB86FC; 
  border-radius: 50%;
  pointer-events: none;
  /* Remove transform from here, it will be handled by inline style */
  transition: width 0.2s, height 0.2s, border-width 0.2s, opacity 0.3s;
  z-index: 9999;
  mix-blend-mode: difference;
}

.target-cursor.is-hovering {
  width: 50px;
  height: 50px;
  border-width: 3px;
  animation: spin linear infinite;
}

.target-cursor.is-mouse-down {
  width: 20px;
  height: 20px;
}

@keyframes spin {
  from {
    /* transform is now only for rotation */
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
